
:root{
    --success: #28a745;
    --error: #dc3545;
    --grayDark: #333333;
}

.gamificationhelper-content h2{
    font-size: 1.5rem;
    margin: 1rem 0;
}

.gamificationhelper-content p, .gamificationhelper-content label {
    font-size: 1rem;
}

.gamificationhelper-content .btn-start{
    display: block;
    margin: 0 auto;
    width: fit-content;
}

.gamificationhelper-content .txt-promt-select{
    text-align: center;
    margin-top: 2rem;
}

.gamificationhelper-content .mform {
    width: 100%;
    margin: auto;
}

.gamificationhelper-content .mform .row{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.gamificationhelper-content .mform .row > div{
    max-width: unset;
    width: 100%;
}

.gamificationhelper-content .mform .row label {
    text-align: center;
    width: 100%;
}

.gamificationhelper-content .mform .row select{
    width: 250px;
}

.gamificationhelper-content .mform .row select, .gamificationhelper-content .mform .row label {
    margin: auto;
    margin-bottom: 0.5rem;
}

.gamificationhelper-content .form-buttons{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.gamificationhelper-content .form-buttons .btn{
    width: 100px;
}

.gamificationhelper-content .recommendations-list{
    padding: 20px;
    border: 1px solid var(--primary);
    width: fit-content;
    border-radius: 4px;
    list-style: none;
    margin: 30px 0;
}

.modal-backdrop{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.7;
    z-index: 99998;
    margin-top: -60px;
}

.permissions-modal{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
}

.permissions-modal .modal-content{
    width: 500px;
    height: auto;
    min-height: 500px;
    justify-content: space-between;
}

.permissions-modal .modal-content .btn-close{
    font-size: 20px;
    margin-left: 10px;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.permissions-modal .modal-content .btn-close{
    color: var(--gray);
}

.permissions-modal .modal-content .btn-close:hover{
    color: var(--grayDark);
}

.permissions-modal .allow i{
    color: var(--success);
}

.permissions-modal .allow{
    color: var(--success);
}

.permissions-modal .not-allow i{

}

.permissions-modal .not-allow{
    color: var(--error);
}

.recommendations-list li{
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.recommendations-list li p{
    margin: 0;
    margin-right: 10px;
}

.recommendations-list li .actions{
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.recommendations-list li .btn-about, .recommendations-list li .btn-permissions{
    background-color: var(--gray);
    color: white;
}

.recommendations-list li .btn-about:hover, .recommendations-list li .btn-permissions:hover{
    background-color: var(--secondary);
    color: var(--gray);
}

.recommendations-list li:not(:last-of-type){
    padding-bottom: 10px;
    border-bottom: 1px solid var(--primary);
}